@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import 'variables';
@import 'mixins';
@import 'animations';
@import 'utilities';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    max-width: 100%;
    @include font('montserrat');
    color: $white;
    background-color: $primary;
}
img{
    max-width: 100%;
}
a{
    @include font('nova square');
    text-decoration: none;
    color: $white;
    display: inline-block;
    padding: .8rem 0;
    cursor: pointer;
}
h1, h2, h3{
    @include font('nova square');
    font-weight: 200;
}
h2{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1em;
}
h3{
    font-size: 1.3em;
}
li{
    list-style-type: none;
}
p{
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.6em;
    padding: 1rem 0;
}

// ===================== Header Section ================================

header{
    @include mq-min($big){
        @include flex(center, space-between);
    }
    background-color: $primary;
    color: $white;
    height: 600px;
    background: radial-gradient(farthest-corner at 40px 300px, #000 0%, rgba(0, 0, 0, .6) 90%), url('../Images/bg-hero.jpg') no-repeat bottom center;
    background-size: cover;
    overflow: hidden;
}

.navbar{
    padding: .5rem 1.2rem;
    transition: all 300ms ease-in-out;
    @include mq-min($big){
        position: relative;
        height: 600px;
        flex-basis: 12%;
        align-self: flex-start;
        animation: slide-in-left 1s ease-in-out;
    }
    &__logo{
        max-width: 50px;
        margin-bottom: 2rem;
    }
    .nav a > :first-child {
        display: none;
        max-width: 1.6rem;
        font-size: 1.3rem;
        margin-right: .5rem;
    }
    a:hover{
        color: $accent;
    }
    .social-icons{
        display: flex;
        place-content: center;
        gap: 1.5rem;
        a{
            color: #fff;
            padding: 0;
        }
        @include mq-min($big){
            flex-direction: column;
            position: absolute;
            bottom: 20px;
        }
    }
    .menu-icon{
        width: 40px;
        max-height: fit-content;
        display: none;
        transition: all 1s ease-in-out;
        span{
            position: relative;
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: $white;
            &::before, &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 4px;
                border-radius: 3px;
                background-color: $white;
            }
            &::before{
                transform: translateY(-12px);
            }
            &::after{
                transform: translateY(12px);
            }
        }
    }
}
.navbar.fixed{
    position: fixed;
    background-color: $primary;
    z-index: 10;
    overflow: hidden;
    @include mq-min($big){
        height: 90vh;
        top: 5%;
        max-width: 4%;
        border-radius: 5px;
        padding: .5rem;
        .fa-2x{
            font-size: 1.5rem;
         }
        .nav span{
             display: none;
        }
        .nav a{
            display: grid;
            place-content: center;
        }
        .nav a > :first-child{
            display: block;
        }
        .navbar__logo{
            max-width: 35px;
        }
    }
}

// ===================== Hero Section ================================

.hero{
    flex-basis: 86%;
    .container{
        @include flex(center, flex-start);
    }
    p{
        padding-bottom: 5rem;
        font-size: 1.4rem;
        animation: fade-in-bottom 2s ease-out;
    }
    &__intro{
        flex-basis: 62%;
    }
    &__right{
        flex-basis: 38%;
    }
    h1{
        max-width: fit-content;
        position: relative;
        font-size: 4.2rem;
        font-weight: 400;
        animation: fade-in 2s ease-in-out;
    }
    span{
        color: $accent;
    }
    // span::before,
    // span::after{
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     left: 38%;
    //     right: 0;
    // }
    // span::before{
    //     background-color: rgba(0, 0, 0);
    //     animation: typewriter 2s steps(12) 1s forwards;
    // }
    // span::after{
    //     background: #fff;
    //     width: 3px;
    //     height: 80%;
    //     margin: auto 0;
    //     animation: blink 1s 350ms infinite,
    //                typewriter 2s steps(12) 1s forwards;
    // }
}

// ===================== About Section ================================

.about{
    width: 100%;
    &__left{
        flex-basis: 60%;
        h2{
            margin-bottom: .4rem;
            @include mq-min($big){
                text-align: left;
            }
        }
        .card{
            padding: 2rem 3rem;
            transform: translateY(50%);
            a{
                color: $accent;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
    @include mq-min($big){
        .container{
            @include flex(flex-end, space-between);
            position: relative;
            padding-bottom: 0;
            overflow: visible;
        }
        &__right{
            flex-basis: 35%;
            position: absolute;
            top: -100;
            right: 0;
        }
    }
    &__right{
        .profile-pic{
            height: 28rem;
            background: linear-gradient(160deg, rgba(0, 0, 0, 0.3), 30%, $primary), url('../Images/juanito.jpg') no-repeat center;
            background-size: cover;
            border-radius: 10px;
        }

        li + li{
            @include flex(center, flex-start);
            height: 5rem;
            gap: 2rem;
            margin-top: 1rem;
            padding: 1rem 5rem;
        }
        li > i, 
        li > img{
            width: 1.3rem;
        }
    }
}

// ===================== Tools Section ================================

.tools{
    .card{
        flex-direction: column;
        @include flex(center, center);
        height: 10rem;
        padding: 1rem;
        transition: all 500ms ease-in-out;
        &:hover{
            transform: scale(1.02);
            // box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);
        }
        p{
            font-size: 1rem;
            font-weight: 400;
            text-align: center;
        }
    }
    img{
        max-width: 80%;
        height: 40%;
    }
}

// ===================== Projects Section ================================

.projects{
    background-color: $accent;
    text-align: center;
    .project-list{
        @include flex(center, space-between);
        flex-wrap: wrap;
        color: $secondary;
        &__item{
            flex-basis: 47%;
            height: 550px;
            background-color: #fff;
            border-radius: 10px;
            padding: 1.5rem 1.5rem 3rem;
            & > img{
                // border: 1px solid $lightaccent;
                border-radius: 10px;
                margin-bottom: 1.3rem;
                // box-shadow:  0 0 9px 1px rgba(0, 0, 0, 0.2);
            }
            small{
                color: $lightaccent;
                font-size: 1rem;
            }
        }
        h3{
            font-size: 1.6rem;
        }
        ul{
            padding-top: 1.5rem;
            @include flex(center, center);
            gap: 1rem;
            img{
                width: 80px;
                max-height: 80px;
            }
        }
    }
}

// ===================== Posts Section ================================

.posts{
    @include flex(center, space-between);
    flex-wrap: wrap;
    .post{
        padding: 2rem;
        flex-basis: 32%;
        &__data{
            @include flex(center, flex-start);
            margin-top: 1rem;
            gap: .5rem;
            font-size: .675rem;
            color: $grey;
        }
        span{
            margin: 0 0.1rem;
            @include font('montserrat');
            font-weight: 600;
        }
        p{
            font-size: 1rem;
            line-height: 1.5;
            font-weight: 400;
            color: $grey;
        }
        a{
            padding: 0 0;
        }
        a:hover{
            color: $grey;
        }
    }
}

// ===================== Footer Section ================================

footer{
    margin-top: 2rem;
    .container{
        padding: 1rem 0 2rem;
        @include flex();
        flex-direction: column;
        border-top: 1px solid $grey;
        p{
            font-weight: 400;
        }
    }
    .social-icons{
        a{
            margin: 0 .6rem;
        }
    }
    .subscribe{
        max-width: 350px;
        text-align: center;
        @include font('Nova Square');
        p{
            line-height: 1.2em;
            color: $lightaccent;
        }
        input[type='text']{
            width: 70%;
            font-size: 1rem;
            padding: 1rem;
        }
        input[type='button']{
            color: $white;
            @include font('Nova Square');
            border: none;
            padding: 1.6rem;
            margin-left: -2rem;
            background-color: $accent;
        }
    }
    .footer-bottom{
        padding: 0 5%;
        background-color: $accent;
        @include flex(center, space-between);
        font-size: .8rem;
        a{
            @include font('Montserrat');
        }
        li{
            display: inline-block;
        }
        li:first-child{
            margin-right: 1.5rem;
        }
    }
}

// ===================== Media Queries ================================

@include mq-max($small){
    .card{
        text-align: center;
    }
    header {
        transition: all 1s ease-in-out;
        .hero{
            text-align: center;
            flex-basis: 100%;
            .container{
                flex-direction: column;
            }
            p{
                width: 100%;
            }
        }
    }
    .navbar {
        @include flex(center, space-between);
        max-height: 6rem;
        z-index: 10;
        animation: slide-in-top 1s ease-in-out;
        .nav{
            display: none;
        }
        .navbar__logo{
            margin: 0;
        }
        .menu-icon{
            display: inline;
        }
        &::after{
            content: "";
            position: fixed;
            top: 5.4rem;
            bottom: 0;
            right: 0;
            left: 100%;
            background-color: $accent;
            z-index: 10;
        }
    } 
    .navbar.open{
        .nav{
            display: block;
            position: fixed;
            left: 50%;
            transform: translateX(-50%);
            top: 14rem;
            z-index: 11;
            a > :first-child{
                display: none;
            }
            ul{
                font-size: 1.8rem;
                text-align: center;
                li{
                    opacity: 0;
                    animation: fade-in-top 400ms ease-in-out 500ms forwards;
                }
            }
        }
        .menu-icon{
            span{
                transform: translateX(40px);
                background: transparent;
                &::before{
                    transform: rotate(45deg) translate(-30px, 30px);
                }
                &::after{
                    transform: rotate(-45deg) translate(-30px, -30px);
                }
            }
        }
        &::after{
            animation: slideInFromRight 1s ease-in-out forwards;
        }
    }
    .navbar.slideOut{
        &::after{
             animation: slideInFromLeft 300ms ease-in-out forwards; 
        }
    }
    .navbar.fixed{
        width: 100%;
        height: 5.4rem;
        animation: slide-in-top 500ms ease-in-out;
        .navbar__logo{
            width: 45px;
        }
    }
    .about{
        .container{
            display: flex;
            flex-direction: column-reverse;
        }
    }
    .about__right{
        li + li{
            padding: 2rem 3rem;
        }
    }
    .project-list{
        flex-direction: column;
        gap: 2rem;
    }
    .posts .post{
        flex-basis: 100%;
    }
    .about__left .card{
        padding: 2rem 1rem;
    }
    .tools .card{
        margin: 0;
    }
    .posts .post__data{
        justify-content: center;
    }
    footer .footer-bottom{
        padding: 0 3%;
        li:first-child{
            margin-right: .4rem;
        }
    } 
}