
@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fade-in-bottom {
    0%{
        transform: translateY(30%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes fade-in-top {
    0%{
        transform: translateY(-50%);
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fade-in-left {
    0%{
        transform: translateX(10%);
    }
    100%{
        transform: translateX(30%);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0%{
        left: -10%;
    }
    100%{
        left: 0;
    }
}
@keyframes slide-in-bottom {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes slide-out-bottom {
    100%{
        transform: translateY(130%);
    }
}
@keyframes slide-in-top {
    0%{
        transform: translateY(-50%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes slide-in-right {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes slideInFromRight {
    100%{
        left: 20%;
    }
}
@keyframes slideInFromLeft {
    // 0%{
    //     left: 20%;
    // }
    100%{
        left: 100%;
    }
}

@keyframes typewriter{
    to{
        left: 100%;
    }
}
@keyframes blink{
    to{
        background-color: transparent;
    }
}