<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="./css/styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="icon" href="./images/icons/pj-favicon.png" type="image/png">
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script defer type="module" src="./js/main.js"></script>
</head>
<body>
{% include "header.njk" %}

{{ content | safe }}

{% include "footer.njk" %}
	<div class="post-content"></div>
	<div class="go-back-top">
		<span></span><span></span>
	</div>
</body>
</html>