<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="./css/styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="icon" href="/images/icons/projuanito_wh_bg.png" type="image/png">
	<script defer type="module" src="./js/main.js"></script>
	<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/cc48548f3475ac3d8e1b6573a/3617818e6eae896a9015c2bca.js");</script>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6BXTGBP1JN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6BXTGBP1JN');
</script>
</head>
<body>


<header>
  {% include "navigation.njk" %}
  <div class="hero container">
      <h1>Hello,<br/> I'm <span>Juanito</span></h1>
      <p> I am a software developer and I love coding. I build tools and applications that are performance efficient and optimized for great user experience</p>
      <a href="#about">More About me</a>
  </div>
</header>

{{ content | safe }}

{% include "footer.njk" %}
	<div class="post-content"></div>
	<div class="go-back-top">
		<span></span><span></span>
	</div>
</body>
</html>
