<footer>
		<div class="container">
			<p>idriss.tchoffo@projuanito.com</p>
			<div class="social-icons flex">
				<a href="https://twitter.com/idrissjuanito"><i class="fab fa-twitter fa-2x"></i></a>
				<a href="https://github.com/idrissjuanito"><i class="fab fa-github fa-2x"></i></a>
				<a href="https://www.linkedin.com/in/tchoffo-idriss-32a247179/"><i class="fab fa-linkedin fa-2x"></i></a>
			</div>
			<div class="subscribe">
				<p>Subscribe to my newsletter and get updates on hot topics</p>
				<input type="text" name="" placeholder="Email Address">
				<input type="button" value="Subscribe">
			</div>
		</div>
		<div class="footer-bottom" id="contacts">
			<span>Copyright &copy; 2015-2022 Afrosilicon</span>
			<ul class="links">
				{% set pages = fetchdata.pages %}
				{% for page in pages %}
					<li><a href="/page/{{page.title | slug}}/">{{page.title}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</footer>