	<header>
		<div class="navbar">
			<a href="/" class="navbar__logo"><img src="/images/pj-logo.png" alt="" class="navbar__logo"></a>
			<div class="nav">
				<ul>
					<li> <a href="/"><img src="/images/icons/home-icon.png" alt=""><span>Home</span></a></li>
					<li> <a href="#about"><i class="fas fa-user fa-2x"></i><span>About me</span></a></li>
					<li> <a href="#projects"><i class="fas fa-project-diagram fa-2x"></i> <span>Projects</span></a></li>
					<li> <a href="#blog"><i class="fas fa-blog fa-2x"></i><span>Blog</span></a></li>
					<li> <a href="#contacts"><i class="fas fa-envelope fa-2x"></i><span>Contacts</span></a></li>
				</ul>
			</div>
			<div class="social-icons">
				<a href="https://twitter.com/idrissjuanito"><i class="fab fa-twitter fa-2x"></i></a>
				<a href="https://github.com/idrissjuanito"><i class="fab fa-github fa-2x"></i></a>
				<a href="https://www.linkedin.com/in/tchoffo-idriss-32a247179/"><i class="fab fa-linkedin fa-2x"></i></a>
			</div>
			<div class="menu-hamburger">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="hero">
			<div class="container">
				<div class="hero__intro">
					<h1>Hi!!! call me <span>Juanito<span></h1>
					<p>You're welcome to my space. I love tech and the content on here will mostly be centered around my works and exploits in the digital space. I will however be sharing none-tech stuffs with you too. Soo, hop in and enjoy the experience.</p>
					<div class="profile-pic"></div>
				</div>
				<!-- <div class="hero__right">
				</div> -->
			</div>
		</div>
	</header>