	<header>
		<div class="navbar">
			<a href="/Projuanito"><img src="/images/pj-logo.png" alt="" class="navbar__logo"></a>
			<div class="nav">
				<ul>
					<li> <a href="/Projuanito"><span>Home</span></a></li>
					<li> <a href="/#about"><span>About me</span></a></li>
					<li> <a href="/#projects"><span>Projects</span></a></li>
					<li> <a href="/#blog"><span>Blog</span></a></li>
					<li> <a href="/#contacts"><span>Contacts</span></a></li>
				</ul>
			</div>
			<div class="social-icons">
				<a href="https://twitter.com/idrissjuanito"><i class="fab fa-twitter fa-2x"></i></a>
				<a href="https://github.com/idrissjuanito"><i class="fab fa-github fa-2x"></i></a>
				<a href="https://www.linkedin.com/in/tchoffo-idriss-32a247179/"><i class="fab fa-linkedin fa-2x"></i></a>
			</div>
			<div class="menu-hamburger">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</header>