	<header>
		<div class="navbar">
			<a href="{{'/' | url}}"><img src="{{'/images/pj-logo.png' | url}}" alt="" class="navbar__logo"></a>
			<div class="nav">
				<ul>
					<li> <a href="{{'/' | url}}"><span>Home</span></a></li>
					<li> <a href="{{'/#about' | url}}"><span>About me</span></a></li>
					<li> <a href="{{'/#projects' | url}}"><span>Projects</span></a></li>
					<li> <a href="{{'/#blog' | url}}"><span>Blog</span></a></li>
					<li> <a href="{{'/#contacts' | url}}"><span>Contacts</span></a></li>
				</ul>
			</div>
			<div class="social-icons">
				<a href="https://twitter.com/idrissjuanito"><i class="fab fa-twitter fa-2x"></i></a>
				<a href="https://github.com/idrissjuanito"><i class="fab fa-github fa-2x"></i></a>
				<a href="https://www.linkedin.com/in/tchoffo-idriss-32a247179/"><i class="fab fa-linkedin fa-2x"></i></a>
			</div>
			<div class="menu-hamburger">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</header>