---
title: Pro Juanito
layout: base.njk
---
{% set pagges = fetchdata.pages %}
{% set articles = fetchdata.posts %}

<main>
 <section id="about" class="about">
  <div class="container">
   <div class="about__left">
     <h2>About me</h2>
     <p>Hello, I am TCHOFFO Idriss but you can call me Juanito. In summary, I am a tech enthusiast who is passionate about everything digital. Professionally, I am a FullStack Web Developer currently working with Javascript technologies. I love typescript and use React for Frontend projects and recently adopted NextJs for better rendering and and also its FullStack Features. I am currently deep into APIs with NodeJS/express. Juanito is as well highly interested in cloud computing and currently learning and working with AWS.</p>
<p>Away from Web Development I just have this general interest and love for computer systems, modern digital devices, the internet, AI and all the things we could achieve with tech. I really just want to explore the digital sphere, learn as much as I can, and contribute to the development of African tech.</p>
     {# <a href="">There's more</a> #}
   </div>
   <div class="about__right">
    <ul>
     <li class="card">
      <i class="fa fa-file-code fa-2x"></i>
      <h3>Web Developper</h3>
     </li>
     <li class="card">
      <i class="fa fa-bullhorn fa-2x"></i>
      <h3>Digital Marketer</h3>
     </li>
     <li class="card">
      <i class="fas fa-pen-alt fa-2x"></i>
      <h3>Content Creator</h3>
     </li>
     <li class="card">
      <i class="fa fa-lightbulb fa-2x"></i>
      <h3>IT Consultant</h3>
     </li>
     <li class="card">
        <i class="fa fa-laptop-code fa-2x"></i>
      <h3>Freelancer</h2>
     </li>
    </ul>
   </div>
  </div>
 </section>
 <section class="daily-tools">
    <div class="container">
        <h2>Top Skills</h2>
        <div class="tools grid">
            <div class="card tool">
                <img src="./images/icons/google.png" alt="google">
                <p>Google Search</p>
            </div>
            <div class="card tool">
                <img src="./images/icons/wordpress.png" alt="WordPress">
                <p>Wordpress</p>
            </div>
            <div class="card tool">
                <img src="./images/icons/Figma.svg" alt="Figma">
                <p>Figma - UI/UX</p>
            </div>
            <div class="card tool">
                <img src="./images/icons/vscode+icons+type+typescript-1324451507894042344.png" alt="Typescript">
                <p>Typescript</p>
            </div>
            <div class="card tool">
                <img src="./images/icons/React-icon.svg.png" alt="VS Code">
                <p>React</p>
            </div>
            <div class="card tool">
                <img src="./images/icons/nodejs-icon-17.jpeg" alt="Git Version Control">
                <p>Node JS</p>
            </div>
        </div>
    </div>
 </section>
 <section id="projects" class="projects">
    <div class="container">
        <h2>Projects</h2>
        <div class="project-list">
            <div class="project-list__item">
                <img src="./images/cmsmount.png" alt="">
                <h3>cmsmount.com</h3>
                <small>Digital Marketing Agency</small>
                <ul class="item-tools">
                <li><img src="./images/icons/wordpress.png" alt=""></li>
                <li><img src="./images/icons/ux-ui-logo.svg" alt=""></li>
                </ul>
            </div>
            <div class="project-list__item">
                <img src="https://res.cloudinary.com/projuanito/image/upload/c_scale,w_700/v1647527395/Screen_Shot_2021-11-04_at_17.26.33_sqoaf9.png" alt="">
                <h3>footballsparkle.com</h3>
                <small> Soccer Blog</small>
                <ul class="item-tools">
                <li><img src="./images/icons/wordpress.png" alt=""></li>
                <li><img src="./images/icons/ux-ui-logo.svg" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
 </section>

 <section id="blog" class="blogposts">
  <div class="container">
    <h2>Blog posts</h2>
    <div class="posts">

{%- for article in articles %}
    <div class="post card">
        <img src="{{article.featured_image}}">
        <div>
            <div class="post__data">
                <div class="author">
                    <i class="fas fa-user-circle"><span> {{article.author}}&emsp;|</span></i>
                </div>
                <div class="date">
                    <i class="fas fa-calendar-alt"><span> {{article.publishedAt}}&emsp;</span></i>
                </div>
            </div>
            <h3><a href="/posts/{{article.slug.current | slug }}/">{{article.title}}</a></h3>
        </div>
    </div>
{% endfor %}

     </div>
  </div>
 </section>
</main>
