---
layout: base-single.njk
pagination:
    data: fetchdata.pages
    size: 1
    alias: singlepage
permalink: "/page/{{ singlepage.title|slug }}/"
---

<article>

    <h1>{{ singlepage.title }}</h1>

    <div class="article__body">
    {% for blok in singlepage.body %}
        {% for blok_text in blok.children %}
            {{blok_text.text | safe}}
        {% endfor%}
    {% endfor %}
    </div>

</article>
