@mixin font($font){
    font-family: $font,  sans-serif;
}
@mixin flex($align-i: center, $justify-c: space-between){
    display: flex;
    align-items: $align-i;
    justify-content: $justify-c;
}

@mixin mq-max($screen) {
    @media screen and (max-width: $screen) {
        @content;
    }
}

@mixin mq-min($screen) {
    @media screen and (min-width: $screen) {
        @content;
    }
}