@import "variables";

.container {
  width: 90%;
  max-width: 1326px;
  margin: 0 auto;
  overflow: auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  align-items: center;
  gap: 1rem;
}
.card {
  width: 100%;
  // background-color: $secondary;
  margin: 1rem 0;
  border-radius: 10px;
  border: 1px solid #333;
}
.container.reveal {
  animation: fade-in-bottom 2s ease-in-out forwards;
}
